<div class="row">
    <div class="container-fluid">
        <nav class="navbar-default centerAlign">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 navbar-header rightAlign">
            <label>Digital Training: </label>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span>
                    <ul class=" nav navbar">
                        <li class="dropdown">
                            <a class="dropdown-toggle leftAlign" data-toggle="dropdown" href="#" ><span class="fa fa-caret-down leftAlign navIconSize" aria-hidden="true"></span></a>
                            <ul class="dropdown-menu">
                                <li class="centerAlign"><a href="#" ng-click="surveillance()">Surveillance</a></li>
                                <li class=" centerAlign" ng-click="security()"><a href="#">Security</a></li>
                            </ul>                
                        </li>
                    </ul>                
                </span>
            </div>
        </nav><!--end of nav-->
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
            <h1 class="centerAlign">{{title}}</h1>
            <p class="answerWarning">You must click the "Done" button to confirm your answer's choice</p>
        <div class="row" ng-repeat="q in questions">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>{{$index + 1}}. {{q.question}}</h2>
                                    
            </div><!--end of div containing main question-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div class="row" ng-repeat="a in q.options" data-toggle="tooltip" title="Choose an answer">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="radio">
                        <label><input class="radioButtonSize" type="radio" ng-value="a.correct" ng-click="select(a.correct)" name={{q.question}}>
                            {{a.answer}}
                        <span ng-if="a.correct=='true' && showAnswers==true"><i class="fa fa-check checkMark" ></i></span>
                        <span ng-show="a.correct=='false' && showAnswers==true"><i class="fa fa-times incorrectAnswer" aria-hidden="true"></i></span>                       </label>
                        </div>
                    </div>                
                </div><!--end of row contining secondary ng-repeat for answers-->
            </div><!--end of div containing answers--> 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" class="btn btn-lg doneButton" ng-click="done($index)">Done</button>
            </div><!--end of div with Done button-->    
        </div><!--end of div containing main ng-repeat -->
        <br>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <button type="button" class="btn btn-lg finishButton" ng-click="finish()" ng-Disabled = "enableButton==false">Finish Test</button>            
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <button type="button" class="btn btn-lg finishButton" ng-click="restart()">Re-Start</button>            
            </div>            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 centerAlign">
                <h3>Score {{score | number}}% </h3>
            </div>
        </div>
        </div>
        
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3"></div>
    </div><!--end of container-fluid-->
</div><!--end of button Page-->