<div class="row ">
    <div class="container-fluid">
        <nav class="navbar-default">
            <h1>Digital Training: {{title}}</h1>
        </nav><!--end of nav-->
        <div class="row" ng-repeat="q in securityQuestions">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4>{{q.question}}</h4>
                                    
            </div><!--end of div containing main question-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div class="row" ng-repeat="a in q.options" data-toggle="tooltip" title="Choose an answer">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="radio">
                        <label><input type="radio" ng-Disabled = "q.done" ng-value="a.correct" ng-click="select(a.correct)" name={{q.question}}>
                            {{a.answer}}
                    <span ng-if="a.correct=='true' && showAnswers==true"><i class="fa fa-check" ></i></span>
                    <span ng-show="a.correct=='false' && showAnswers==true"><i class="fa fa-times" aria-hidden="true"></i></span>
                                            
                        </label>
                        </div>
                    </div>                
                </div><!--end of row contining secondary ng-repeat for answers-->
            </div><!--end of div containing answers--> 
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" class="btn btn-lg" ng-Disabled = "q.done" ng-click="done($index)">Done</button>
            </div><!--end of div with Done button-->    
        </div><!--end of div containing main ng-repeat -->
        <br>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="button" class="btn btn-lg" ng-click="finish()" ng-Disabled = "enableButton==false">Finish Test</button>            
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h4>{{score | number}}% </h4>
            </div>
        </div>
    </div><!--end of container-fluid-->
</div><!--end of button Page-->